<h1>Answer</h1>

<form class="translation-form" action="/" method="post">
  <textarea class="answer big" rows="4"><%= answer %></textarea>
</form>

<script type="text/javascript">
  const guess = document.querySelector(".answer");
  guess.addEventListener("input", updateAnswer);

  function updateAnswer(event) {
    fetch('/update_answer', { method: 'post', body: guess.value })
  }

  function checkGuess(event) {
    event.preventDefault();
    const answer = "<%= answer %>";

    let index = 0;
    const binarySpans = document.querySelectorAll(".binary-translation span");
    answer.split('').forEach((char) => {
      const color = char === guess.value[index] ? "#0A0" : "#A00";
      binarySpans[index].style.color = color;
      index++;
    });
  }
</script>
