<div class="binary-translation">
  <textarea class="binary big" rows="12"><%= binary_translation.join(' ') %></textarea>
</div>

<script type="text/javascript">
  const binaryInput = document.querySelector(".binary");
  let answerState = "";

  function updateAnswer() {
    fetch('/answer_binary ', { method: 'get' })
      .then(function(response) {
        if (!response.ok) throw new Error(`HTTP error! Status: ${response.status}`);
        return response.text();
      })
      .then(function(body) {
        if (answerState != body) {
          answerState = body;
          binaryInput.value = body;
        }
      });
  }

  setInterval(updateAnswer, 333)
</script>
